@import "buttons.custom";
// @import "fieldset.custom";
@import "node_view.custom";
@import "forms.custom";
 @import "page.custom";
// @import "header.custom";
// @import "labels.custom";
@import "menus.custom";
// @import "search_box.custom";
@import "tables.custom";
// @import "titles.custom";
@import "variables";
@import "mixins";
@import "tabs.custom";
// @import "responsive.custom";
// @import "new.custom";
// @import "rooms.custom";
// @import "hotels.custom";
// @import "suppliers.custom";
// @import "referenced_entities.custom";
@import "modal.custom";
 @import "field_specific.custom";

html {
  background-color: $main-bg;
}
/* breadcrumps */
.uk-breadcrumb {
  display: none;
  margin-left:2%;
  li:first-child {
    a {
      background-image: url("/sites/default/files/custom/svg/home/home-grey.svg");
      background-repeat: no-repeat;
      background-position: 0%;
      background-size: 12px;
      padding-left:15px;
    }
  }
}

.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
  margin: 0 10px !important;
}

/* alerts */
fieldset div.uk-alert-danger {
  display: block;
  background: transparent;
  padding:0;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 800;
  font-style: italic;
}

div.uk-alert,
#edit-title-wrapper {
  display: none;
}

.toolbar-horizontal .uk-alert {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

div#page.uk-container {
  margin: 35px 10px 0px 10px !important;
  padding: 0px !important;
  max-width: unset;
}

div.region-content div.lc-main-content.block-system-main-block {
  @include shadowedWhiteBg();
  left: 50%;
  padding: 25px;
  padding-bottom: 10px;
  width: 100%;
}

body[data-once*="form-single-submit"] div#page.uk-container {
  @include horizontalMarginZero();
}

body div#page-wrapper {
  background-color: $main-bg;
}

span.cke_bottom {
  display: none;
}

strong.error {
  color: $delBtn;
  font-style: italic;
}

/* Tables searchbox */

.views-exposed-form .uk-form-controls .form-text.uk-input {
  @include searchbox();
}
