@import "variables";
@import "mixins";

/* forms */
body[class*="nodeadd"],
body[class*="edit"] {
    main#page--content {
        @include shadowedWhiteBg();
        width: 95%;
        margin-left: auto;
        margin-right: 1.5%;
        margin-top: 35px;
        h1.uk-article-title {
            @include pageTitleIcons("edit", "edit-blue");

            em {
                color: $font-black;
                font-weight: normal;
                display: inline-block;
            }
        }
        label.uk-form-label,
        div.fieldset-wrapper h4 {
            @include labelBlack();
        }
        input[type="text"],
        textarea,
        input[type="tel"],
        input[type="date"],
        input[type="email"],
        select,
        div.form-select {
            @include inputField(90%, 5px 10px, 35px);
        }

        input[type="number"] {
            @include inputField(10%, 5px 10px, 35px);
        }
        .field-suffix {
            @include fieldSuffix();
        }

        #edit-path-wrapper,
        #uikit-local-tasks {
            display: none;
        }
        div#edit-actions {
            // text-align: right;
            margin-top: 20px !important;
            margin-bottom: -30px;
            position: relative;
            top: -60px;
            width: 20em;
            input#edit-submit {
                width: 46%;
            }
            a#edit-cancel {
                width: 46%;
            }
        }
        div.uk-form-row {
            margin-bottom: 10px;
            div.js-form-item {
                margin-bottom: 0;
            }
        }
        table.field-multiple-table thead {
            display: none;
        }

        div.paragraphs-add-wrapper {
            color: transparent;
            em.placeholder {
                color: transparent;
            }
        }
        fieldset.multiple-line-fieldset,
        fieldset.single-line-fieldset {
            @include noBorder();
            margin: 0;
            padding: 0;
            > legend:first-child {
                display: none;
            }
            fieldset.main-line-fieldset {
                &.two-field-fieldset {
                    div.field--type-decimal {
                        width: 50%;
                        float: right;
                        input[type="number"] {
                            width: 25%;
                        }
                    }
                    > div.field--type-decimal {
                        width: 50%;
                        float: left;
                    }
                    &.left-wide-fieldset {
                        div.fieldset-wrapper {
                            div.uk-form-row {
                                width: 25%;
                                float: right;
                                input {
                                    width: 50%;
                                }
                            }
                            div.uk-form-row:first-child {
                                width: 75%;
                                float: left;
                                input {
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
                &.four-field-fieldset {
                    div.field--type-decimal,
                    div.field--type-integer {
                        width: 50%;
                        float: left;
                        input[type="number"] {
                            width: 25%;
                        }
                    }
                }
                @include noBorder();
                margin: 0;
                padding: 0;
                > legend:first-child {
                    display: none;
                }
                fieldset[id*="edit-field-"] {
                    > div.fieldset-wrapper {
                        div[class*="field--name-field-"] {
                            width: 50%;
                            float: left;
                            margin-top: 0 !important;
                          margin-bottom: 3px;
                        }
                    }
                }
                div.field--type-entity-reference {
                    margin-top: 0px !important;
                    > div[id*="inline-entity-form"] {
                        > fieldset {
                            @include noBorder();
                            margin: 0;
                            padding: 0;
                            > legend:first-child {
                                @include labelBlack();
                                padding-left: 0;
                            }
                            > div.fieldset-wrapper {
                                > div.uk-form-row {
                                    input[id*="actions-ief-add"] {
                                        margin-top: 5px;
                                        margin-left: 0;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                table.ief-entity-table {
                    width: 90%;
                    thead {
                        display: none;
                    }
                    tbody {
                        tr {
                            td:last-child {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
        div.field--type-entity-reference {
            margin-top: 0 !important;
        }
        fieldset.ief-form {
            margin-top: 0;
            margin-bottom: 0;
            width: 92%;
            @include noBorder();
            legend.uk-legend {
                margin: 0;
                padding: 0 !important;
                span.fieldset-legend {
                    @include labelBlack();
                    margin: 0;
                    padding: 0 !important;
                }
            }
        }
        div.field--type-field-collection {
            > div {
                > fieldset {
                    @include noBorder();
                    margin: 0;
                    padding: 0;
                    > legend:first-child {
                        display: none;
                    }
                }
            }
        }
        fieldset.half-size-fieldset {
            width: 50%;
            &.left-fieldset {
                float: left;
            }
            &.right-fieldset {
                float: right;
            }
        }
        div.tabledrag-toggle-weight-wrapper {
            display: none;
        }
        td.field-multiple-drag {
            display: none;
        }
      fieldset.full-size-fieldset {
        width: 100%;
        padding:0;
        @include noBorder();
        > legend.uk-legend {
          display: none;
        }
        fieldset.supplier-line-service-transport-fields {
          @include noBorder();
          padding:0;
          margin-top: 5px;
          > legend.uk-legend {
            display: none;
          }
          div.field--name-field-vehicle-type-re {
            width: 15%;
            float:left;
          }
          div.field--name-field-rates-list-fc {
            width: 100%;
            float:left;
          }
        }
        table.field-multiple-table {
          background: transparent;
          margin-top: 0;
          margin-bottom: 10px;
          tbody {
            background: transparent;
            tr {
              background: transparent;
              border-top: 0 solid transparent;
              td {
                padding: 0;
                div.form-wrapper {
                  float:left;
                  input,select {
                    width: 95% !important;
                    font-size: 13px;
                  }
                }
                div.field--name-field-route-from-fc {
                    width: 12%;
                }
                div.field--name-field-route-to {
                  width: 12%;
                }
                div.field--name-field-route-category {
                  width: 12%;
                }
                div.field--name-field-rate-type-fc {
                  width: 8%;
                }
                div.field--name-field-rate-of-type-a-fc,
                div.field--name-field-rate-of-type-b-fc,
                div.field--name-field-rate-of-type-c-fc,
                div.field--name-field-rate-of-type-d-fc,
                div.field--name-field-taxi,
                div.field--name-field-van,
                div.field--name-field-sprinter,
                div.field--name-field-shared-transfer
                {
                  width: 6%;
                  input {
                    width: 70%;

                  }
                }
                div[id*="-actions"] {
                  @include fcRemoveBtnInTable() ;
                }
              }

            }
          }
        }
        input[id*="edit-field-rates-list-fc-add-more"] {
          margin-top: 0;
        }
      }
    }
}
body[class*="edit"],
body[class*="nodeadd"] {
    form.node-form {
        div.uk-form-controls {
            input#edit-field-country-short-0-value,
            input#edit-field-country-code-0-value {
                width: 20% !important;
            }
        }
    }
}
