@import "variables";
@import "mixins";

/* page header zone */

header#page--header {
  background-color: $blue-menu;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 10001;
  top: 0px;

  #page--navbar {
    width: 75%;
    float: left;
    display: inline-flex;
  }

  .right-nav {
    width: 20%;
    height: 35px;
    float: right;
    display: inline-flex;
  }

  .uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: $blue-menu !important;
  }

  .uk-navbar-left {
    display: inline-flex;
    width: 90%;

    #mainnavigation {
      display: block;
      float: left;
    }

    #useraccountmenu {
      display: block;
      float: right;
    }

    .uk-hidden\@m {
      display: inline-flex !important;
      width: 10%;
    }

    .uk-navbar-item {
      display: inline-flex;
      width: 85%;
    }
  }

  #menu__toggle {
    opacity: 0;
    &:checked ~ .menu__box {
      left: 0 !important;
    }
  }
  .menu__btn {
    position: fixed;
    top: 9px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    i {
      font-size: 20px;
      color: #e2f2f2;
    }
    i.close-menu {
      display: none;
    }
  }
  .menu__btn {
    > span,
    > span::before,
    > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $white;
      transition-duration: 0.25s;
    }
    span::before {
      top: -8px;
    }
    > span::after {
      top: 8px;
    }
    z-index: 1000;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 35px 0;
    list-style: none;
    background-color: $blue-menu;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    li {
      display: block;
      padding: 6px 24px;
      color: $white;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: 0.25s;
      li {
        background-color: #cfd8dc;
        height: 45px;
        a {
          min-height: 45px;
          color: $white;
        }
      }
    }
  }

  .uk-navbar-nav.menu__box {
    z-index: 999;
  }

  [class*="uk-navbar-dropdown-bottom"] {
    margin-top: 0px;
    padding: 0px;
  }

  li .uk-navbar-dropdown {
    #menu__toggle {
      display: none;
    }
    .uk-navbar-dropdown-nav li {
      background-color: #cfd8dc;
      height: 25px;

      a {
        min-height: 25px;
        background-image: none !important;
      }
    }
  }

  #uikit-main-menu-offcanvas {
    height: 35px;
  }

  /* main menu items */

  .uk-navbar-nav.menu__box li a {
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 15px;
    min-height: 60px;
    color: $white !important;
  }

  .uk-navbar-nav.menu__box li:first-child a {
    background-image: url(/sites/default/files/custom/svg/home/home-white.svg);
  }

  .uk-navbar-nav.menu__box li:nth-child(2) a {
    background-image: url(/sites/default/files/custom/svg/trip/trip-white.svg);
  }

  .uk-navbar-nav.menu__box li:nth-child(3) a {
    background-image: url(/sites/default/files/custom/svg/add/add-white.svg);
  }

  .uk-navbar-nav.menu__box li:nth-child(4) a {
    background-image: url(/sites/default/files/custom/svg/calendar/calendar-white.svg);
  }

  .uk-navbar-nav.menu__box li:nth-child(5) a {
    background-image: url(/sites/default/files/custom/svg/data_main/data_main-white.svg);
  }

  .uk-navbar-nav.menu__box li:nth-child(6) a {
    background-image: url(/sites/default/files/custom/svg/data_support/data_support-white.svg);
  }

  .uk-navbar-nav.menu__box li:nth-child(7) a {
    background-image: url(/sites/default/files/custom/svg/user/user-white.svg);
  }

  .uk-navbar-nav.menu__box li:nth-child(8) a {
    background-image: url(/sites/default/files/custom/svg/logout/logout-white.svg);
  }

  /* right menu items */
  #region--navbar_right #right-side-menu {
    left: 170%;
    a {
      padding-left: 10px;
      padding-right: 10px;
      i {
        font-size: 20px;
        color: $white;
      }
    }
    .uk-margin {
      margin-top: 5px !important;
      position: relative;
      left: -55%;
    }
  }
}
