@import "variables";
@import "mixins";

form.node-form.node-supplier-form,
form.node-form.node-supplier-edit-form {
    margin-left: 0;
    margin-right: 0;

    ul.horizontal-tabs-list,
    ul.vertical-tabs__menu {
        border-top-left-radius: 6px;
        li {
            a {
                height: 75px;
                line-height: 75px;
                color: $grey;
                text-align: left;
                background-repeat: no-repeat;
                background-position: 90% 27px;
                background-size: 7%;
                font-size: 1.1em;
                font-family: $font-family-title;
                padding-top: 0px !important;
                padding-bottom: 0px !important;

                &:hover {
                    padding-top: 0px !important;
                    padding-bottom: 0px !important;
                    color: $orange;
                    text-decoration: none;
                }
                strong.vertical-tabs__menu-item-title {
                    text-decoration: none;
                }
            }
            &.is-selected,
            &.selected {
                a strong.vertical-tabs__menu-item-title {
                    color: $orange;
                    padding-top: 0px !important;
                    padding-bottom: 0px !important;
                }
            }
        }

        li:first-child a {
            background-image: url(/sites/default/files/custom/svg/address/address-grey.svg);
            padding-right: 50px;
        }

        li:first-child.selected a,
        li:first-child.is-selected a,
        li:first-child a:hover {
            background-image: url(/sites/default/files/custom/svg/address/address-orange.svg);
            padding-right: 50px;
        }

        li:not(:first-child) a {
            background-image: url(/sites/default/files/custom/svg/bus/bus-grey.svg);
            padding-right: 50px;
        }

        li:not(:first-child).selected a,
        li:not(:first-child).is-selected a,
        li:not(:first-child) a:hover {
            background-image: url(/sites/default/files/custom/svg/bus/bus-orange.svg);
            padding-right: 50px;
        }
    }
}

.vertical-tabs {
    margin-left: 20em;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 79%;
    .vertical-tabs__menu {
        width: 20em;
        margin-left: -20em;
        li {
            height: 75px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
    }
}

.horizontal-tabs {
    border: 0px solid transparent;
    border-radius: 6px;
    /* forms tabs list */
    .horizontal-tabs-list {
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        background-color: transparent;
        li {
            margin-bottom: 0 !important;
            margin-top: 10px !important;
            a {
                background-position: 90% 20px;
                background-size: 20px;
                min-height: 60px;
                font-size: 16px;
                line-height: 60px;
            }
            &.horizontal-tab-button {
                background-color: #fff;
                height: 60px;
                line-height: 40px;
                margin: 1% 2%;
                border-right: 0px solid transparent;
                border-radius: 6px;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
            }
        }
    }
    /* fieldset region in form */
    .horizontal-tabs-panes {
        //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        //  0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 6px;
    }
}
