@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
/* Overview table add buttons */
a.add-btn {
  float: right;
}
a.add-btn i {
  font-size: 35px;
  color: #808080;
}
a.add-btn:hover i {
  color: #ed9b24;
}
a#edit-cancel, input.cancel.button, input[id*="edit-field-hotel-rooms-0-subform-field-room-type-details-form-0-actions-ief-add-cancel"], input[id*="edit-field-address-form-inline-entity-form-entities-0-form-actions-ief-edit-cancel"], input[id*="-actions-ief-add-cancel"], input[id*="-actions-ief-reference-cancel"], input[id*="-form-actions-ief-edit-cancel"], input[id*="-form-actions-ief-remove-cancel"], input[id*="-actions-remove-button"], input[id*="edit-field-address-form-0-actions-ief-add-cancel"][type="submit"], input[id*="edit-field-address-form-entities-0-form-actions-ief-remove-cancel"] {
  color: #fafafa;
  background-color: #ecb32c;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/cancel/cancel-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
a#edit-cancel:hover, input.cancel.button:hover, input[id*="edit-field-hotel-rooms-0-subform-field-room-type-details-form-0-actions-ief-add-cancel"]:hover, input[id*="edit-field-address-form-inline-entity-form-entities-0-form-actions-ief-edit-cancel"]:hover, input[id*="-actions-ief-add-cancel"]:hover, input[id*="-actions-ief-reference-cancel"]:hover, input[id*="-form-actions-ief-edit-cancel"]:hover, input[id*="-form-actions-ief-remove-cancel"]:hover, input[id*="-actions-remove-button"]:hover, input[id*="edit-field-address-form-0-actions-ief-add-cancel"][type="submit"]:hover, input[id*="edit-field-address-form-entities-0-form-actions-ief-remove-cancel"]:hover {
  background-color: #efbe4c;
  color: #fafafa;
}
a#edit-delete, input[id*="-actions-ief-entity-remove"], input[id*="-form-actions-ief-remove-confirm"], input[id*="edit-field-address-entities-0-actions-ief-entity-remove"], input[id*="edit-field-address-form-entities-0-form-actions-ief-remove-confirm"], input[id*="-entity-remove"].cancel.button {
  color: #fafafa;
  background-color: #e11d48;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/delete/delete-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
a#edit-delete:hover, input[id*="-actions-ief-entity-remove"]:hover, input[id*="-form-actions-ief-remove-confirm"]:hover, input[id*="edit-field-address-entities-0-actions-ief-entity-remove"]:hover, input[id*="edit-field-address-form-entities-0-form-actions-ief-remove-confirm"]:hover, input[id*="-entity-remove"].cancel.button:hover {
  background-color: #ca1a41;
  color: #fafafa;
}
input#edit-submit, input[id*="edit-field-hotel-rooms-0-subform-field-room-type-details-form-0-actions-ief-add-save"], input[id*="-actions-ief-reference-save"], input[id*="-form-actions-ief-edit-save"], input[id*="edit-field-address-form-inline-entity-form-entities-0-form-actions-ief-edit-save"], input[id*="edit-field-address-form-0-actions-ief-add-save"][type="submit"] {
  color: #fafafa;
  background-color: #0ea271;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/save/save-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
input#edit-submit:hover, input[id*="edit-field-hotel-rooms-0-subform-field-room-type-details-form-0-actions-ief-add-save"]:hover, input[id*="-actions-ief-reference-save"]:hover, input[id*="-form-actions-ief-edit-save"]:hover, input[id*="edit-field-address-form-inline-entity-form-entities-0-form-actions-ief-edit-save"]:hover, input[id*="edit-field-address-form-0-actions-ief-add-save"][type="submit"]:hover {
  background-color: #34c494;
  color: #fafafa;
}
input[id*="edit-field-address"][type="submit"], input[id*="field-hotel-rooms-hotel-rooms-add-more"], input[id*="edit-field-hotel-rooms-0-subform-field-room-type-details-actions-ief-add"], input[id*="edit-field-hotel-rooms-0-subform-field-room-type-details-form-0-field-room-rates-per-period-actions-ief-add--"], input[id*="-actions-ief-add"], input[id*="field-contact"][type="submit"], input.field-add-more-submit, input.add-new-btn-er, a[id*="new-entity-button"] {
  color: #fafafa;
  background-color: #1f57b8;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/add/add-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
  margin-top: 25px;
}
input[id*="edit-field-address"][type="submit"]:hover, input[id*="field-hotel-rooms-hotel-rooms-add-more"]:hover, input[id*="edit-field-hotel-rooms-0-subform-field-room-type-details-actions-ief-add"]:hover, input[id*="edit-field-hotel-rooms-0-subform-field-room-type-details-form-0-field-room-rates-per-period-actions-ief-add--"]:hover, input[id*="-actions-ief-add"]:hover, input[id*="field-contact"][type="submit"]:hover, input.field-add-more-submit:hover, input.add-new-btn-er:hover, a[id*="new-entity-button"]:hover {
  background-color: #1e52af;
  color: #fafafa;
}
input[id*="edit-field-address-entities-0-actions-ief-entity-edit"], input[id*="-actions-ief-entity-edit"], input[id*="-entity-edit"].cancel.button {
  color: #fafafa;
  background-color: #34c494;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/edit/edit-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
input[id*="edit-field-address-entities-0-actions-ief-entity-edit"]:hover, input[id*="-actions-ief-entity-edit"]:hover, input[id*="-entity-edit"].cancel.button:hover {
  background-color: #0ea271;
  color: #fafafa;
}
input[id*="-actions-ief-entity-duplicate--"] {
  color: #e2f2f2;
  background-color: #1f57b8;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/copy/copy-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
input[id*="-actions-ief-entity-duplicate--"]:hover {
  background-color: #1e52af;
  color: #e2f2f2;
}
input.add-existing-btn-er {
  color: #e2f2f2;
  background-color: #0ea271;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/list/list-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
input.add-existing-btn-er:hover {
  background-color: #34c494;
  color: #e2f2f2;
}
input#edit-preview {
  color: #e2f2f2;
  background-color: #19a679;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/view/view-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
input#edit-preview:hover {
  background-color: #24edac;
  color: #e2f2f2;
}
input[id*="-actions-ief-add-existing"] {
  color: #fafafa;
  background-color: #1da1f2;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/list/list-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
input[id*="-actions-ief-add-existing"]:hover {
  background-color: #3faff4;
  color: #fafafa;
}
/* Overview table edit buttons */
.tbl-action-btn i {
  font-size: 16px;
  padding: 5px;
}
form.node-form {
  /* form bottom buttons */
}
form.node-form a#edit-delete {
  display: none;
}
