@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
/* forms */
body[class*="nodeadd"] main#page--content, body[class*="edit"] main#page--content {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.5rem;
  margin: 1% 1%;
  width: 95%;
  margin-left: auto;
  margin-right: 1.5%;
  margin-top: 35px;
}
body[class*="nodeadd"] main#page--content h1.uk-article-title, body[class*="edit"] main#page--content h1.uk-article-title {
  background-image: url("/sites/default/files/custom/svg/edit/edit-blue.svg");
  background-repeat: no-repeat;
  background-position: 0px 2px;
  background-size: 25px;
  color: #1f2937;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 2%;
  margin-top: 25px !important;
}
body[class*="nodeadd"] main#page--content h1.uk-article-title em, body[class*="edit"] main#page--content h1.uk-article-title em {
  color: #1f2937;
  font-weight: normal;
  display: inline-block;
}
body[class*="nodeadd"] main#page--content label.uk-form-label, body[class*="nodeadd"] main#page--content div.fieldset-wrapper h4, body[class*="edit"] main#page--content label.uk-form-label, body[class*="edit"] main#page--content div.fieldset-wrapper h4 {
  font-size: 15px;
  background-color: transparent;
  color: #1f2937;
  font-weight: 500;
  padding-right: 5px;
}
body[class*="nodeadd"] main#page--content input[type="text"], body[class*="nodeadd"] main#page--content textarea, body[class*="nodeadd"] main#page--content input[type="tel"], body[class*="nodeadd"] main#page--content input[type="date"], body[class*="nodeadd"] main#page--content input[type="email"], body[class*="nodeadd"] main#page--content select, body[class*="nodeadd"] main#page--content div.form-select, body[class*="edit"] main#page--content input[type="text"], body[class*="edit"] main#page--content textarea, body[class*="edit"] main#page--content input[type="tel"], body[class*="edit"] main#page--content input[type="date"], body[class*="edit"] main#page--content input[type="email"], body[class*="edit"] main#page--content select, body[class*="edit"] main#page--content div.form-select {
  width: 90%;
  padding: 5px 10px !important;
  opacity: 0.75 !important;
  border-radius: 0.5rem !important;
  min-height: 35px !important;
  color: #0a0c0d;
  border-color: #1f2937;
  font-size: 15px;
  margin-right: 2% !important;
}
body[class*="nodeadd"] main#page--content input[type="text"]:focus-within, body[class*="nodeadd"] main#page--content textarea:focus-within, body[class*="nodeadd"] main#page--content input[type="tel"]:focus-within, body[class*="nodeadd"] main#page--content input[type="date"]:focus-within, body[class*="nodeadd"] main#page--content input[type="email"]:focus-within, body[class*="nodeadd"] main#page--content select:focus-within, body[class*="nodeadd"] main#page--content div.form-select:focus-within, body[class*="edit"] main#page--content input[type="text"]:focus-within, body[class*="edit"] main#page--content textarea:focus-within, body[class*="edit"] main#page--content input[type="tel"]:focus-within, body[class*="edit"] main#page--content input[type="date"]:focus-within, body[class*="edit"] main#page--content input[type="email"]:focus-within, body[class*="edit"] main#page--content select:focus-within, body[class*="edit"] main#page--content div.form-select:focus-within {
  opacity: 1 !important;
  border: 1.5px solid #ed9b24;
  border-color: #ed9b24 !important;
  transition-property: border-color, opacity;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
body[class*="nodeadd"] main#page--content input[type="number"], body[class*="edit"] main#page--content input[type="number"] {
  width: 10%;
  padding: 5px 10px !important;
  opacity: 0.75 !important;
  border-radius: 0.5rem !important;
  min-height: 35px !important;
  color: #0a0c0d;
  border-color: #1f2937;
  font-size: 15px;
  margin-right: 2% !important;
}
body[class*="nodeadd"] main#page--content input[type="number"]:focus-within, body[class*="edit"] main#page--content input[type="number"]:focus-within {
  opacity: 1 !important;
  border: 1.5px solid #ed9b24;
  border-color: #ed9b24 !important;
  transition-property: border-color, opacity;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
body[class*="nodeadd"] main#page--content .field-suffix, body[class*="edit"] main#page--content .field-suffix {
  font-size: 15px;
  margin-left: 5px;
}
body[class*="nodeadd"] main#page--content #edit-path-wrapper, body[class*="nodeadd"] main#page--content #uikit-local-tasks, body[class*="edit"] main#page--content #edit-path-wrapper, body[class*="edit"] main#page--content #uikit-local-tasks {
  display: none;
}
body[class*="nodeadd"] main#page--content div#edit-actions, body[class*="edit"] main#page--content div#edit-actions {
  text-align: right;
  margin-top: 20px !important;
  margin-bottom: 20px;
}
body[class*="nodeadd"] main#page--content div.uk-form-row, body[class*="edit"] main#page--content div.uk-form-row {
  margin-bottom: 10px;
}
body[class*="nodeadd"] main#page--content div.uk-form-row div.js-form-item, body[class*="edit"] main#page--content div.uk-form-row div.js-form-item {
  margin-bottom: 0;
}
body[class*="nodeadd"] main#page--content table.field-multiple-table thead, body[class*="edit"] main#page--content table.field-multiple-table thead {
  display: none;
}
body[class*="nodeadd"] main#page--content div.paragraphs-add-wrapper, body[class*="edit"] main#page--content div.paragraphs-add-wrapper {
  color: transparent;
}
body[class*="nodeadd"] main#page--content div.paragraphs-add-wrapper em.placeholder, body[class*="edit"] main#page--content div.paragraphs-add-wrapper em.placeholder {
  color: transparent;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset, body[class*="edit"] main#page--content fieldset.single-line-fieldset {
  border: 0px solid transparent;
  margin: 0;
  padding: 0;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset > legend:first-child, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset > legend:first-child, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset > legend:first-child, body[class*="edit"] main#page--content fieldset.single-line-fieldset > legend:first-child {
  display: none;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset {
  border: 0px solid transparent;
  margin: 0;
  padding: 0;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.two-field-fieldset div.field--type-decimal, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.two-field-fieldset div.field--type-decimal, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.two-field-fieldset div.field--type-decimal, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.two-field-fieldset div.field--type-decimal {
  width: 50%;
  float: right;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.two-field-fieldset div.field--type-decimal input[type="number"], body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.two-field-fieldset div.field--type-decimal input[type="number"], body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.two-field-fieldset div.field--type-decimal input[type="number"], body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.two-field-fieldset div.field--type-decimal input[type="number"] {
  width: 25%;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.two-field-fieldset > div.field--type-decimal, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.two-field-fieldset > div.field--type-decimal, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.two-field-fieldset > div.field--type-decimal, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.two-field-fieldset > div.field--type-decimal {
  width: 50%;
  float: left;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.two-field-fieldset.left-wide-fieldset div.fieldset-wrapper div.uk-form-row, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.two-field-fieldset.left-wide-fieldset div.fieldset-wrapper div.uk-form-row, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.two-field-fieldset.left-wide-fieldset div.fieldset-wrapper div.uk-form-row, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.two-field-fieldset.left-wide-fieldset div.fieldset-wrapper div.uk-form-row {
  width: 25%;
  float: left;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.two-field-fieldset.left-wide-fieldset div.fieldset-wrapper > div.uk-form-row, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.two-field-fieldset.left-wide-fieldset div.fieldset-wrapper > div.uk-form-row, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.two-field-fieldset.left-wide-fieldset div.fieldset-wrapper > div.uk-form-row, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.two-field-fieldset.left-wide-fieldset div.fieldset-wrapper > div.uk-form-row {
  width: 75%;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-decimal, body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-integer, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-decimal, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-integer, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-decimal, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-integer, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-decimal, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-integer {
  width: 50%;
  float: left;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-decimal input[type="number"], body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-integer input[type="number"], body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-decimal input[type="number"], body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-integer input[type="number"], body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-decimal input[type="number"], body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-integer input[type="number"], body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-decimal input[type="number"], body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset.four-field-fieldset div.field--type-integer input[type="number"] {
  width: 25%;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset > legend:first-child, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset > legend:first-child, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset > legend:first-child, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset > legend:first-child {
  display: none;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset fieldset[id*="edit-field-"] > div.fieldset-wrapper div[class*="field--name-field-"], body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset fieldset[id*="edit-field-"] > div.fieldset-wrapper div[class*="field--name-field-"], body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset fieldset[id*="edit-field-"] > div.fieldset-wrapper div[class*="field--name-field-"], body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset fieldset[id*="edit-field-"] > div.fieldset-wrapper div[class*="field--name-field-"] {
  width: 50%;
  float: left;
  margin-top: 0 !important;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference {
  margin-top: 0px !important;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset {
  border: 0px solid transparent;
  margin: 0;
  padding: 0;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset > legend:first-child, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset > legend:first-child, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset > legend:first-child, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset > legend:first-child {
  font-size: 15px;
  background-color: transparent;
  color: #1f2937;
  font-weight: 500;
  padding-right: 5px;
  padding-left: 0;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset > div.fieldset-wrapper > div.uk-form-row input[id*="actions-ief-add"], body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset > div.fieldset-wrapper > div.uk-form-row input[id*="actions-ief-add"], body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset > div.fieldset-wrapper > div.uk-form-row input[id*="actions-ief-add"], body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset div.field--type-entity-reference > div[id*="inline-entity-form"] > fieldset > div.fieldset-wrapper > div.uk-form-row input[id*="actions-ief-add"] {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 5px;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset table.ief-entity-table, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset table.ief-entity-table, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset table.ief-entity-table, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset table.ief-entity-table {
  width: 90%;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset table.ief-entity-table thead, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset table.ief-entity-table thead, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset table.ief-entity-table thead, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset table.ief-entity-table thead {
  display: none;
}
body[class*="nodeadd"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset table.ief-entity-table tbody tr td:last-child, body[class*="nodeadd"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset table.ief-entity-table tbody tr td:last-child, body[class*="edit"] main#page--content fieldset.multiple-line-fieldset fieldset.main-line-fieldset table.ief-entity-table tbody tr td:last-child, body[class*="edit"] main#page--content fieldset.single-line-fieldset fieldset.main-line-fieldset table.ief-entity-table tbody tr td:last-child {
  float: right;
}
body[class*="nodeadd"] main#page--content div.field--type-entity-reference, body[class*="edit"] main#page--content div.field--type-entity-reference {
  margin-top: 0 !important;
}
body[class*="nodeadd"] main#page--content fieldset.ief-form, body[class*="edit"] main#page--content fieldset.ief-form {
  margin-top: 0;
  margin-bottom: 0;
  width: 92%;
  border: 0px solid transparent;
}
body[class*="nodeadd"] main#page--content fieldset.ief-form legend.uk-legend, body[class*="edit"] main#page--content fieldset.ief-form legend.uk-legend {
  margin: 0;
  padding: 0 !important;
}
body[class*="nodeadd"] main#page--content fieldset.ief-form legend.uk-legend span.fieldset-legend, body[class*="edit"] main#page--content fieldset.ief-form legend.uk-legend span.fieldset-legend {
  font-size: 15px;
  background-color: transparent;
  color: #1f2937;
  font-weight: 500;
  padding-right: 5px;
  margin: 0;
  padding: 0 !important;
}
body[class*="nodeadd"] main#page--content div.field--type-field-collection > div > fieldset, body[class*="edit"] main#page--content div.field--type-field-collection > div > fieldset {
  border: 0px solid transparent;
  margin: 0;
  padding: 0;
}
body[class*="nodeadd"] main#page--content div.field--type-field-collection > div > fieldset > legend:first-child, body[class*="edit"] main#page--content div.field--type-field-collection > div > fieldset > legend:first-child {
  display: none;
}
body[class*="nodeadd"] main#page--content fieldset.half-size-fieldset, body[class*="edit"] main#page--content fieldset.half-size-fieldset {
  width: 50%;
}
body[class*="nodeadd"] main#page--content fieldset.half-size-fieldset.left-fieldset, body[class*="edit"] main#page--content fieldset.half-size-fieldset.left-fieldset {
  float: left;
}
body[class*="nodeadd"] main#page--content fieldset.half-size-fieldset.right-fieldset, body[class*="edit"] main#page--content fieldset.half-size-fieldset.right-fieldset {
  float: right;
}
body[class*="edit"] form.node-form div.uk-form-controls input#edit-field-country-short-0-value, body[class*="edit"] form.node-form div.uk-form-controls input#edit-field-country-code-0-value, body[class*="nodeadd"] form.node-form div.uk-form-controls input#edit-field-country-short-0-value, body[class*="nodeadd"] form.node-form div.uk-form-controls input#edit-field-country-code-0-value {
  width: 20% !important;
}
/* specific fields */
body[class*="nodeadd"] div.field--name-field-website, body[class*="edit"] div.field--name-field-website {
  margin-bottom: 15px !important;
}
body[class*="nodeadd"] div.field--name-field-website input.uk-input, body[class*="edit"] div.field--name-field-website input.uk-input {
  width: 95% !important;
}
