@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
/* page header zone */
header#page--header {
  background-color: #1f2937;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 10001;
  top: 0px;
}
header#page--header #page--navbar {
  width: 75%;
  float: left;
  display: inline-flex;
}
header#page--header .right-nav {
  width: 20%;
  height: 35px;
  float: right;
  display: inline-flex;
}
header#page--header .uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #1f2937 !important;
}
header#page--header .uk-navbar-left {
  display: inline-flex;
  width: 90%;
}
header#page--header .uk-navbar-left #mainnavigation {
  display: block;
  float: left;
}
header#page--header .uk-navbar-left #useraccountmenu {
  display: block;
  float: right;
}
header#page--header .uk-navbar-left .uk-hidden\@m {
  display: inline-flex !important;
  width: 10%;
}
header#page--header .uk-navbar-left .uk-navbar-item {
  display: inline-flex;
  width: 85%;
}
