@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
/* Address Paragraph */
body[class*="nodeadd"] main#page--content {
  /* FORM */
  /* Address line in first tab */
  /* TABLE */
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details {
  border-bottom: 1px solid #ed9b24 !important;
  padding-bottom: 10px !important;
  padding-top: 0 !important;
  border-top: 1px solid #ed9b24 !important;
  margin-top: 30px !important;
  /* address wrapper */
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details legend.uk-legend {
  display: none;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details input[id*="edit-field-address-form-0-actions-ief-add-save"][type="submit"] {
  color: #fafafa;
  background-color: #0ea271;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/save/save-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details input[id*="edit-field-address-form-0-actions-ief-add-save"][type="submit"]:hover {
  background-color: #34c494;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details input[id*="edit-field-address-form-0-actions-ief-add-cancel"][type="submit"] {
  color: #fafafa;
  background-color: #ecb32c;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/cancel/cancel-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details input[id*="edit-field-address-form-0-actions-ief-add-cancel"][type="submit"]:hover {
  background-color: #efbe4c;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] {
  width: 75%;
  /* first line address */
  /* second line wrapper */
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] {
  margin-bottom: 25px !important;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-main-address-line {
  width: 60%;
  margin-right: 2% !important;
  float: left;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-main-address-line input, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-main-address-line select, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-main-address-line textarea {
  width: 100% !important;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-zip-code {
  width: 17%;
  margin-right: 2% !important;
  float: left;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-zip-code input, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-zip-code select, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-zip-code textarea {
  width: 100% !important;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-city-town {
  width: 17%;
  margin-right: 2% !important;
  float: left;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-city-town input, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-city-town select, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-1"] div.field--name-field-city-town textarea {
  width: 100% !important;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-state-province {
  width: 35%;
  margin-right: 2% !important;
  float: left;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-state-province input, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-state-province select, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-state-province textarea {
  width: 100% !important;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-region {
  width: 32%;
  margin-right: 2% !important;
  float: left;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-region input, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-region select, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-region textarea {
  width: 100% !important;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-country-address {
  width: 27%;
  margin-right: 2% !important;
  float: left;
}
body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-country-address input, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-country-address select, body[class*="nodeadd"] main#page--content fieldset#hotel-line-details fieldset[id*="address-wrapper"] fieldset[id*="address-line-2"] div.field--name-field-country-address textarea {
  width: 100% !important;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] {
  margin: 0 !important;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] thead {
  display: none;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr {
  background: transparent !important;
  border: 0 solid transparent !important;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td.inline-entity-form-paragraph-label {
  font-size: 19px;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td {
  border: 0 solid transparent !important;
  /* Buttons upon delete address in Hotel */
  /* Buttons upon edit address in Hotel */
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td div.ief-entity-operations {
  text-align: -webkit-right;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td div.ief-entity-operations input[id*="edit-field-address-entities-0-actions-ief-entity-edit"] {
  color: #e2f2f2;
  background-color: #ed9b24;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/edit/pen-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td div.ief-entity-operations input[id*="edit-field-address-entities-0-actions-ief-entity-edit"]:hover {
  background-color: #a67f19;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td div.ief-entity-operations input[id*="edit-field-address-entities-0-actions-ief-entity-remove"] {
  color: #fafafa;
  background-color: #e11d48;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/delete/trash-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td div.ief-entity-operations input[id*="edit-field-address-entities-0-actions-ief-entity-remove"]:hover {
  background-color: #ca1a41;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td input[id*="edit-field-address-form-entities-0-form-actions-ief-remove-cancel"] {
  color: #fafafa;
  background-color: #ecb32c;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/cancel/cancel-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td input[id*="edit-field-address-form-entities-0-form-actions-ief-remove-cancel"]:hover {
  background-color: #efbe4c;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td input[id*="edit-field-address-form-entities-0-form-actions-ief-remove-confirm"] {
  color: #fafafa;
  background-color: #e11d48;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/delete/trash-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td input[id*="edit-field-address-form-entities-0-form-actions-ief-remove-confirm"]:hover {
  background-color: #ca1a41;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td input[id*="edit-field-address-form-inline-entity-form-entities-0-form-actions-ief-edit-save"] {
  color: #fafafa;
  background-color: #0ea271;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/save/save-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td input[id*="edit-field-address-form-inline-entity-form-entities-0-form-actions-ief-edit-save"]:hover {
  background-color: #34c494;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td input[id*="edit-field-address-form-inline-entity-form-entities-0-form-actions-ief-edit-cancel"] {
  color: #fafafa;
  background-color: #e11d48;
  border-radius: 5px;
  background-image: url("/sites/default/files/custom/svg/delete/trash-white.svg");
  text-transform: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  padding-left: 35px;
  padding-right: 15px;
  border: 0;
  display: inline-block;
  margin-left: 5px;
}
body[class*="nodeadd"] main#page--content table[id*="ief-entity-table-edit-field-address-entities"] tr td input[id*="edit-field-address-form-inline-entity-form-entities-0-form-actions-ief-edit-cancel"]:hover {
  background-color: #ca1a41;
}
