@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
/* page header zone */
header#page--header {
  background-color: #1f2937;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 10001;
  top: 0px;
  /* main menu items */
  /* right menu items */
}
header#page--header #page--navbar {
  width: 75%;
  float: left;
  display: inline-flex;
}
header#page--header .right-nav {
  width: 20%;
  height: 35px;
  float: right;
  display: inline-flex;
}
header#page--header .uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #1f2937 !important;
}
header#page--header .uk-navbar-left {
  display: inline-flex;
  width: 90%;
}
header#page--header .uk-navbar-left #mainnavigation {
  display: block;
  float: left;
}
header#page--header .uk-navbar-left #useraccountmenu {
  display: block;
  float: right;
}
header#page--header .uk-navbar-left .uk-hidden\@m {
  display: inline-flex !important;
  width: 10%;
}
header#page--header .uk-navbar-left .uk-navbar-item {
  display: inline-flex;
  width: 85%;
}
header#page--header #menu__toggle {
  opacity: 0;
}
header#page--header #menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
header#page--header .menu__btn {
  position: fixed;
  top: 9px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
header#page--header .menu__btn i {
  font-size: 20px;
  color: #e2f2f2;
}
header#page--header .menu__btn i.close-menu {
  display: none;
}
header#page--header .menu__btn {
  z-index: 1000;
}
header#page--header .menu__btn > span, header#page--header .menu__btn > span::before, header#page--header .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e2f2f2;
  transition-duration: 0.25s;
}
header#page--header .menu__btn span::before {
  top: -8px;
}
header#page--header .menu__btn > span::after {
  top: 8px;
}
header#page--header .menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 35px 0;
  list-style: none;
  background-color: #1f2937;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
header#page--header .menu__box li {
  display: block;
  padding: 6px 24px;
  color: #e2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
header#page--header .menu__box li li {
  background-color: #cfd8dc;
  height: 45px;
}
header#page--header .menu__box li li a {
  min-height: 45px;
  color: #e2f2f2;
}
header#page--header .uk-navbar-nav.menu__box {
  z-index: 999;
}
header#page--header [class*="uk-navbar-dropdown-bottom"] {
  margin-top: 0px;
  padding: 0px;
}
header#page--header li .uk-navbar-dropdown #menu__toggle {
  display: none;
}
header#page--header li .uk-navbar-dropdown .uk-navbar-dropdown-nav li {
  background-color: #cfd8dc;
  height: 25px;
}
header#page--header li .uk-navbar-dropdown .uk-navbar-dropdown-nav li a {
  min-height: 25px;
  background-image: none !important;
}
header#page--header #uikit-main-menu-offcanvas {
  height: 35px;
}
header#page--header .uk-navbar-nav.menu__box li a {
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 15px;
  min-height: 60px;
  color: #e2f2f2 !important;
}
header#page--header .uk-navbar-nav.menu__box li:first-child a {
  background-image: url(/sites/default/files/custom/svg/home/home-white.svg);
}
header#page--header .uk-navbar-nav.menu__box li:nth-child(2) a {
  background-image: url(/sites/default/files/custom/svg/trip/trip-white.svg);
}
header#page--header .uk-navbar-nav.menu__box li:nth-child(3) a {
  background-image: url(/sites/default/files/custom/svg/add/add-white.svg);
}
header#page--header .uk-navbar-nav.menu__box li:nth-child(4) a {
  background-image: url(/sites/default/files/custom/svg/calendar/calendar-white.svg);
}
header#page--header .uk-navbar-nav.menu__box li:nth-child(5) a {
  background-image: url(/sites/default/files/custom/svg/data_main/data_main-white.svg);
}
header#page--header .uk-navbar-nav.menu__box li:nth-child(6) a {
  background-image: url(/sites/default/files/custom/svg/data_support/data_support-white.svg);
}
header#page--header .uk-navbar-nav.menu__box li:nth-child(7) a {
  background-image: url(/sites/default/files/custom/svg/user/user-white.svg);
}
header#page--header .uk-navbar-nav.menu__box li:nth-child(8) a {
  background-image: url(/sites/default/files/custom/svg/logout/logout-white.svg);
}
header#page--header #region--navbar_right #right-side-menu {
  left: 170%;
}
header#page--header #region--navbar_right #right-side-menu a {
  padding-left: 10px;
  padding-right: 10px;
}
header#page--header #region--navbar_right #right-side-menu a i {
  font-size: 20px;
  color: #e2f2f2;
}
header#page--header #region--navbar_right #right-side-menu .uk-margin {
  margin-top: 5px !important;
  position: relative;
  left: -55%;
}
