@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
@font-face {
  font-family: "Inter";
  src: url("/sites/default/files/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Inter_Semi_Bold";
  src: url("/sites/default/files/fonts/static/Inter-SemiBold.ttf");
}
/* COLORS */
/* font color */
/* Buttons */
/* FONTS */
form.node-form.node-supplier-form, form.node-form.node-supplier-edit-form {
  margin-left: 0;
  margin-right: 0;
}
form.node-form.node-supplier-form ul.horizontal-tabs-list li, form.node-form.node-supplier-form ul.vertical-tabs__menu li, form.node-form.node-supplier-edit-form ul.horizontal-tabs-list li, form.node-form.node-supplier-edit-form ul.vertical-tabs__menu li {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}
form.node-form.node-supplier-form ul.horizontal-tabs-list li:first-child a, form.node-form.node-supplier-form ul.vertical-tabs__menu li:first-child a, form.node-form.node-supplier-edit-form ul.horizontal-tabs-list li:first-child a, form.node-form.node-supplier-edit-form ul.vertical-tabs__menu li:first-child a {
  background-image: url(/sites/default/files/custom/svg/address/address-grey.svg);
  padding-right: 50px;
}
form.node-form.node-supplier-form ul.horizontal-tabs-list li:first-child.selected a, form.node-form.node-supplier-form ul.horizontal-tabs-list li:first-child a:hover, form.node-form.node-supplier-form ul.vertical-tabs__menu li:first-child.selected a, form.node-form.node-supplier-form ul.vertical-tabs__menu li:first-child a:hover, form.node-form.node-supplier-edit-form ul.horizontal-tabs-list li:first-child.selected a, form.node-form.node-supplier-edit-form ul.horizontal-tabs-list li:first-child a:hover, form.node-form.node-supplier-edit-form ul.vertical-tabs__menu li:first-child.selected a, form.node-form.node-supplier-edit-form ul.vertical-tabs__menu li:first-child a:hover {
  background-image: url(/sites/default/files/custom/svg/address/address-orange.svg);
  padding-right: 50px;
}
form.node-form.node-supplier-form ul.horizontal-tabs-list li:not(:first-child) a, form.node-form.node-supplier-form ul.vertical-tabs__menu li:not(:first-child) a, form.node-form.node-supplier-edit-form ul.horizontal-tabs-list li:not(:first-child) a, form.node-form.node-supplier-edit-form ul.vertical-tabs__menu li:not(:first-child) a {
  background-image: url(/sites/default/files/custom/svg/bus/bus-grey.svg);
  padding-right: 50px;
}
form.node-form.node-supplier-form ul.horizontal-tabs-list li:not(:first-child).selected a, form.node-form.node-supplier-form ul.horizontal-tabs-list li:not(:first-child) a:hover, form.node-form.node-supplier-form ul.vertical-tabs__menu li:not(:first-child).selected a, form.node-form.node-supplier-form ul.vertical-tabs__menu li:not(:first-child) a:hover, form.node-form.node-supplier-edit-form ul.horizontal-tabs-list li:not(:first-child).selected a, form.node-form.node-supplier-edit-form ul.horizontal-tabs-list li:not(:first-child) a:hover, form.node-form.node-supplier-edit-form ul.vertical-tabs__menu li:not(:first-child).selected a, form.node-form.node-supplier-edit-form ul.vertical-tabs__menu li:not(:first-child) a:hover {
  background-image: url(/sites/default/files/custom/svg/bus/bus-orange.svg);
  padding-right: 50px;
}
.vertical-tabs {
  border: 0px solid transparent;
  border-radius: 6px;
}
.vertical-tabs .vertical-tabs__menu {
  border-bottom: 0px solid transparent;
  background-color: transparent;
}
.vertical-tabs .vertical-tabs__menu li.vertical-tabs__menu-item {
  background-color: #fff;
  width: 100%;
  height: 60px;
  line-height: 40px;
  margin: 1% 5%;
  border-right: 0px solid transparent;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}
.vertical-tabs .vertical-tabs__menu li.vertical-tabs__menu-item a {
  color: #808080;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 90% 20px;
  background-size: 20px;
  min-height: 60px;
  font-size: 15px;
  font-family: "Inter_Semi_Bold";
  line-height: 60px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.vertical-tabs .vertical-tabs__menu li.vertical-tabs__menu-item a:hover {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #ed9b24;
}
.vertical-tabs .vertical-tabs__menu li.vertical-tabs__menu-item.is-selected a strong.vertical-tabs__menu-item-title {
  color: #ed9b24;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.horizontal-tabs {
  border: 0px solid transparent;
  border-radius: 6px;
  /* forms tabs list */
  /* fieldset region in form */
}
.horizontal-tabs .horizontal-tabs-list {
  border-bottom: 0px solid transparent;
  background-color: transparent;
}
.horizontal-tabs .horizontal-tabs-list li.horizontal-tab-button {
  background-color: #fff;
  height: 60px;
  line-height: 40px;
  margin: 1% 2%;
  border-right: 0px solid transparent;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}
.horizontal-tabs .horizontal-tabs-list li.horizontal-tab-button a {
  color: #808080;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 90% 20px;
  background-size: 20px;
  min-height: 60px;
  font-size: 15px;
  font-family: "Inter_Semi_Bold";
  line-height: 60px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.horizontal-tabs .horizontal-tabs-list li.horizontal-tab-button a:hover {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #ed9b24;
}
.horizontal-tabs .horizontal-tabs-list li.horizontal-tab-button.selected a {
  color: #ed9b24;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.horizontal-tabs .horizontal-tabs-panes {
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 6px;
}
