/* Form general */

form.node-form {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.5rem;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;

  /* hide form's vertical tab */
  .js-form-type-vertical-tabs {
    display: none;
  }

  /* form's bottom buttons zone */
  #edit-actions {
    margin-left: 1%;
    margin-top: 10px !important;
  }

  /* trip form modifications */
  &.node-main-form {
    /* trip form tabs */
    li.horizontal-tab-button {
      width: calc((100% - 320px) / 8);
    }

    li:first-child a {
      background-image: url(/sites/default/files/custom/svg/data_main/data_main-grey.svg);
    }

    li:first-child.selected a,
    li:first-child a:hover {
      background-image: url(/sites/default/files/custom/svg/data_main/data_main-orange.svg);
    }

    li:nth-child(2) a {
      background-image: url(/sites/default/files/custom/svg/bus/bus-grey.svg);
    }

    li:nth-child(2).selected a,
    li:nth-child(2) a:hover {
      background-image: url(/sites/default/files/custom/svg/bus/bus-orange.svg);
    }

    li:nth-child(3) a {
      background-image: url(/sites/default/files/custom/svg/add/add-grey.svg);
    }

    li:nth-child(3).selected a,
    li:nth-child(3) a:hover {
      background-image: url(/sites/default/files/custom/svg/add/add-orange.svg);
    }

    li:nth-child(4) a {
      background-image: url(/sites/default/files/custom/svg/plane/plane-grey.svg);
    }

    li:nth-child(4).selected a,
    li:nth-child(4) a:hover {
      background-image: url(/sites/default/files/custom/svg/plane/plane-orange.svg);
    }

    li:nth-child(5) a {
      background-image: url(/sites/default/files/custom/svg/bed/bed-grey.svg);
    }

    li:nth-child(5).selected a,
    li:nth-child(5) a:hover {
      background-image: url(/sites/default/files/custom/svg/bed/bed-orange.svg);
    }

    li:nth-child(6) a {
      background-image: url(/sites/default/files/custom/svg/list/list-grey.svg);
    }

    li:nth-child(6).selected a,
    li:nth-child(6) a:hover {
      background-image: url(/sites/default/files/custom/svg/list/list-orange.svg);
    }

    li:nth-child(7) a {
      background-image: url(/sites/default/files/custom/svg/file/file-grey.svg);
      background-size: 16px;
    }

    li:nth-child(7).selected a,
    li:nth-child(7) a:hover {
      background-image: url(/sites/default/files/custom/svg/file/file-orange.svg);
    }

    li:nth-child(8) a {
      background-image: url(/sites/default/files/custom/svg/money/money-grey.svg);
    }

    li:nth-child(8).selected a,
    li:nth-child(8) a:hover {
      background-image: url(/sites/default/files/custom/svg/money/money-orange.svg);
    }

    label[value="edit-field-trip-duration-0-end-value-date"] {
      display: none;
    }
  }

  /* hotel form modifications */
  &.node-hotel-form {
    li.horizontal-tab-button {
      width: calc((100% - 160px) / 4);
    }

    li:first-child a {
      background-image: url(/sites/default/files/custom/svg/hotel/hotel-grey.svg);
    }

    li:first-child.selected a,
    li:first-child a:hover {
      background-image: url(/sites/default/files/custom/svg/hotel/hotel-orange.svg);
    }

    li:nth-child(2) a {
      background-image: url(/sites/default/files/custom/svg/bed/bed-grey.svg);
    }

    li:nth-child(2).selected a,
    li:nth-child(2) a:hover {
      background-image: url(/sites/default/files/custom/svg/bed/bed-orange.svg);
    }

    li:nth-child(3) a {
      background-image: url(/sites/default/files/custom/svg/contact/contact-grey.svg);
    }

    li:nth-child(3).selected a,
    li:nth-child(3) a:hover {
      background-image: url(/sites/default/files/custom/svg/contact/contact-orange.svg);
    }

    li:nth-child(4) a {
      background-image: url(/sites/default/files/custom/svg/address/address-grey.svg);
    }

    li:nth-child(4).selected a,
    li:nth-child(4) a:hover {
      background-image: url(/sites/default/files/custom/svg/address/address-orange.svg);
    }
  }
  /* general form fieldsets */
  fieldset {
    &.main-line-fieldset {
      width: 100%;
    }
  }
}

body.nodeaddcountries {
  h1.uk-article-title {
    @include pageTitleIcons("country", "country-blue");
  }
  //form {
  //  .field--name-field-country-short {
  //    float: left;
  //    width: 45%;
  //  }
  //  .field--name-field-country-code {
  //    float: right;
  //    width: 45%;
  //  }
  //}
}

.chosen-container-single .chosen-single {
  background: transparent !important;
  border: 0 solid transparent !important;
  box-shadow: unset !important;

  div {
    display: none;
  }
}

.chosen-container-active .chosen-single {
  background: transparent !important;
  border: 0 solid transparent !important;
  box-shadow: unset !important;
}

body.nodeaddroom_types {
  h1.uk-article-title {
    @include pageTitleIcons("accom-type", "accom-type-blue");
  }
}

body.nodeaddclients {
  h1.uk-article-title {
    @include pageTitleIcons("customers", "customers-blue");
    background-position: 0 5px;
  }
}

body.nodeaddcustomer {
  h1.uk-article-title {
    @include pageTitleIcons("bus", "bus-blue");
  }
}

body.nodeadddestinations {
  h1.uk-article-title {
    @include pageTitleIcons("destination", "destination-blue");
  }
}
body.nodeaddfile_status {
  h1.uk-article-title {
    @include pageTitleIcons("status", "status-blue");
  }
}
body.nodeaddfile_type {
  h1.uk-article-title {
    @include pageTitleIcons("trip-types", "trip-types-blue");
    background-position: 0 5px;
  }
}

body.nodeaddinvoicing_status {
  h1.uk-article-title {
    @include pageTitleIcons("money", "money-blue");
  }
}
body.nodeaddlanguages {
  h1.uk-article-title {
    @include pageTitleIcons("language", "language-blue");
    background-position: 0 5px;
  }
}

body.nodeaddmarket {
  h1.uk-article-title {
    @include pageTitleIcons("market", "market-blue");
  }
}

body.nodeaddovernight_tax {
  h1.uk-article-title {
    @include pageTitleIcons("overnight", "overnight-blue");
  }
}

body.nodeaddservices {
  h1.uk-article-title {
    @include pageTitleIcons("temple", "temple-blue");
  }
}

body[class$="0"],
body[class$="1"],
body[class$="2"],
body[class$="3"],
body[class$="4"],
body[class$="5"],
body[class$="6"],
body[class$="7"],
body[class$="8"],
body[class$="9"] {
  ul.uk-tab {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2%;
  }
  h1.uk-article-title {
    @include pageTitleIcons("view", "view-blue");
  }
  article.contextual-region {
    .uk-form-wrapper {
      border-bottom: 1px solid $orange;
      margin-bottom: 10px;
    }
    article.contextual-region {
      box-shadow: unset !important;
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      h2.uk-text-lead {
        display: none;
      }
    }

    @include shadowedWhiteBg();
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 2%;
    .uk-form-label {
      @include viewLabelBlack();
    }
    .uk-form-value {
      @include labelBlack();
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
  }
}
fieldset[id*="edit-field-addres"] {
  legend {
    span.fieldset-legend {
      display: block !important;
      @include labelValue();
    }
    padding: 0 !important;
  }

  input[id*="edit-field-address-actions-ief-add"] {
    background-image: url(/sites/default/files/custom/svg/address/address-white.svg);
    margin-left: 0 !important;
    position: relative;
    top: -20px;
  }

  fieldset {
    padding-top: 0 !important;
    span.fieldset-legend {
      display: none !important;
    }
    label.uk-form-label,
    div.fieldset-wrapper h4 {
      width: 100%;
      float: unset;
    }
    div.uk-form-controls {
      width: 100%;
      float: unset;
      input {
        background: transparent;
        background-image: none;
      }
    }
  }
}
p.uk-text-meta.uk-margin-small-top {
  display: none;
}

div[class*="js-form-item-field-contact-details"] {
  display: inline-block !important;
}

div[id*="edit-field-contact-details"] {
  div.paragraphs-dropbutton-wrapper.paragraphs-add-wrapper {
    position: relative;
    right: -400px;
    top: 60px;
  }
}
