@import "variables";
@import "mixins";

/* Rooms Paragraph */
body[class*="nodeadd"] main#page--content {
  fieldset#hotel-line-rooms {
    border-bottom: 1px solid #ed9b24 !important;
    padding-bottom: 10px !important;
    padding-top: 0 !important;
    input[type="text"],
    textarea,
    input[type="tel"],
    input[type="date"],
    input[type="email"],
    select,
    div.form-select {
      @include inputField(85%, 5px 10px, 35px);
    }
    legend.uk-legend {
      display: none;
    }
    table[id*="field-hotel-rooms-values"] {
      @include horizontalMarginZero();
      div.paragraphs-subform,
      div.field--type-entity-reference-revisions {
        margin-top: 0 !important ;
      }
      /*left side - room type */
      .field--name-field-room-type {
        padding: 0 !important;
        width: 25%;
        float: left;

        label {
          width: 100%;
          line-height: 40px;
        }

        .uk-form-controls {
          width: 100%;
        }
      }
      /* right side - accommodation types - period rates */
      .field--name-field-room-type-details {
        padding: 0 !important;
        width: 74%;
        float: left;
        @include verticalMarginZero();
        /* when right side open */
        fieldset[id*="subform-field-room-type-details"] {
          padding-top: 5px !important;
          /* the button when right fieldset is closed */
          input[id*="-actions-ief-add"] {
            margin-top: 45px;
          }
          /* accommodation type - left side */
          div.field--name-field-accommodation-type {
            padding: 0 !important;
            width: 35%;
            float: left;
          }
          /* period rates - right side */
          div.field--name-field-room-rates-per-period {
            padding: 0 !important;
            width: 55%;
            float: left;
            .field--widget-options-select {
              margin-top: 0 !important;
            }
            div.field--type-daterange {
              width: 45%;
              float: left;
              legend {
                display: inline-block;
                @include labelBlack();
                span {
                  display: inline-block;
                }
              }
              h4 {
                display: none;
              }
              input.form-date {
                width: 35%;
              }
              /* Hide year fields in select period*/
              div[class*="subform-field-period-0-value-year"],
              div[class*="subform-field-period-0-end-value-year"] {
                display: none !important;
              }
              /* period fields */
              div[class*="subform-field-period-0-value-day"],
              div[class*="subform-field-period-0-value-month"],
              div[class*="subform-field-period-0-end-value-day"],
              div[class*="subform-field-period-0-end-value-month"] {
                width: 40%;
                float: left;
                margin-top: 0 !important;
                margin-bottom: 20px;
              }
            }
            /* Specific date fields */
            div.field--name-field-day-start,
            div.field--name-field-day-end {
              width: 25%;
              float: left;
            }
            /* price field */
            div[class*="-subform-field-price-0-value"] {
              input[type="number"] {
                width: 15% !important;
                margin-right: 0 !important;
              }
            }
          }
        }
      }
      /* entity form buttons */
      div[id*="edit-field-hotel-rooms-0-subform-field-room-type-details-form-0-actions"] {
        top: 57px;
        left: 120px;
        position: relative;
        margin-top: 10px !important;
        width: 10%;
        input.ief-entity-submit,
        input.cancel {
          width: 1%;
          color: transparent;
          padding-left: 20px !important;
        }
      }
    }
  }
}
/* Contact Details tab */
table[id*="field-contact-details-values"] {
  /* hide extra text near buttons */
  div#field-contact-details-add-more-wrapper,
  div[id*="subform-field-telehones-add-more-wrapper"],
  div[id*="subform-field-email-add-more-wrapper"],
  div[id*="subform-field-fax-add-more-wrapper"],
  div[id*="subform-field-website-add-more-wrapper"] {
    color: transparent;
    em {
      color: transparent;
    }
  }
  /* Fields */
  .paragraphs-tabs-wrapper {
    div.js-form-item {
      display: flex;
    }
    table.field-multiple-table,
    table#field-agency-contact-details-values,
    div.clearfix {
      width: 50%;
      float: left;
      div.field--type-string {
        width: 60%;
        float: left;
      }
    }
  }
}
